<div class="fh5co-loader"></div>
	<div id="page">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 animate-box">
				<div class="col-md-6 animate-box">
					<h3>Sign up</h3>
					<form action="/signup" method="POST" id="form-container">

            <div class="row form-group">
							<div class="col-md-12">
                <label for="username">Username</label>
                <input id="username" class="form-control" type="text" name="username" placeholder="For your privacy">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-6">
								<label for="fname">First Name</label>
								<input type="text" id="userFname fname" class="form-control" name="userFname" placeholder="Your first name">
							</div>
							<div class="col-md-6">
                <label for="userLname">Last Name</label>
								<input type="text" id="userLname lname" class="form-control" name="userLname" placeholder="Your last name">
							</div>
						</div>

            <div class="row form-group">
							<div class="col-md-12">
								<label for="birthDate">Birth Date</label>
							  <input id="birthDate" type="date" name="birthDate" placeholder="mm/dd/yyyy">
							</div>
						</div>
         
						<div class="row form-group">
							<div class="col-md-12">
								<label for="userEmail">Email</label>
								<input type="email" id="userEmail email" class="form-control" name="userEmail" placeholder="Example@domain.com">
							</div>
						</div>

            <div class="row form-group">
							<div class="col-md-12">
								  <label for="address1">Address 1</label>
                  <input id="address1" class="form-control" type="text" name="address1" placeholder="...">
							</div>
						</div>

            <div class="row form-group">
							<div class="col-md-12">
								  <label for="address2">Address 2</label>
                  <input id="address2" class="form-control" type="text" name="address2" placeholder="Apt, Suit, etc..">
							</div>
						</div>

            <div class="row form-group">
							<div class="col-md-4">
								<label for="city">City</label>
                <input id="city" class="form-control" type="text" name="city" placeholder="...">
							</div>
							<div class="col-md-4">
                <label for="state">State</label>
                <input id="address2" class="form-control" type="text" name="state" placeholder="AZ">
							</div>
              <div class="col-md-4">
                <label for="zipcode">Zipcode</label>
                <input id="zipcode" class="form-control" type="number" name="zipcode" placeholder="12345">
							</div>
						</div>

            <div class="row form-group">
							<div class="col-md-12">
								  <label for="password">Password</label>
                  <input id="password" class="form-control" type="password" name="password" placeholder="Your password">
							</div>
						</div>
            {{#if message}}
              <div class="error-message">{{ message }}</div>
            {{/if}}	
            <button class="btn btn-primary btn-outline btn-lg">Create account</button>
				  </form>	
            <p class="account-message">Do you already have an account?  <a href="/login">Login</a> </p>
				</div>
			</div>
		</div>
	</div>
